<div class="menu__item child pawd-nav-has-dropdown">
  <a href="{{ link.url }}" class="navlink navlink--toplevel">
    <span class="navtext">{{ link.title | strip_html | escape }}</span>
  </a>
  <div class="pawd-nav-dropdown">
    <div class="pawd-nav-dropdown-inner">

      <div class="pawd-dropdown-col">
        <span class="pawd-dropdown-heading">Guides</span>
        <a href="/blogs/resources/tagged/sizing">Sizing &amp; Fit</a>
        <a href="/blogs/resources/tagged/care">Product Care</a>
        <a href="/blogs/resources/tagged/training">Training &amp; Behaviour</a>
        <a href="/blogs/resources/tagged/cats">Cat Guides</a>
      </div>

      <div class="pawd-dropdown-col">
        <span class="pawd-dropdown-heading">Articles</span>
        <a href="/blogs/resources/tagged/materials">Materials &amp; Craft</a>
        <a href="/blogs/resources/tagged/brand">Our Brand Story</a>
        <a href="/blogs/resources/tagged/sustainability">Sustainability</a>
      </div>

      <div class="pawd-dropdown-cta">
        <a href="/blogs/resources">View All Resources &rarr;</a>
      </div>

    </div>
  </div>
</div>
