.footer-sections {
  position: relative;
}
.footer-sections a:not(.btn) {
  transition: color 0.25s ease, background 0.25s ease;
}
.footer-sections {
  padding-bottom: var(--cart-bar-height, 0);
}

.site-footer-wrapper {
  overflow: hidden;
}

.footer__logo__wrapper {
  padding: var(--inner) 0;
}

.footer__logo {
  display: inline-block;
  max-width: 100%;
}

.footer__blocks {
  display: flex;
  flex-flow: column;
  position: relative;
  margin: 0 calc(var(--gutter) / -2) var(--gutter-offset);
  overflow-wrap: anywhere;
}
.footer__blocks ul {
  margin: 0;
}
@media only screen and (min-width: 750px) {
  .footer__blocks {
    flex-flow: row wrap;
  }
}
@media only screen and (max-width: 749px) {
  .footer__blocks {
    padding: 0 calc(var(--gutter) / 2);
  }
}
@media only screen and (min-width: 750px) {
  .footer__blocks .accordion {
    margin-top: 0;
    border: none;
  }
}
@media only screen and (max-width: 749px) {
  .footer__blocks .accordion {
    margin-bottom: 0;
  }
}
@media only screen and (min-width: 750px) {
  .footer__blocks .accordion__title {
    padding: 0;
    margin: 0.5em 0 1em;
  }
}

.footer__block {
  flex: 1 0 100%;
  margin-bottom: var(--gutter);
}
@media only screen and (min-width: 990px) {
  .footer__block {
    flex: 0 0 var(--desktop-width);
  }
}
@media only screen and (min-width: 750px) and (max-width: 989px) {
  .footer__block {
    flex-basis: 50%;
  }
}
@media only screen and (min-width: 750px) {
  .footer__block {
    padding: 0 calc(var(--gutter) / 2);
  }
}

@media only screen and (max-width: 749px) {
  .accordion + .footer__block:not(.accordion) .footer__block__title {
    margin-top: 1.5rem;
  }
}

@media only screen and (min-width: 750px) {
  .footer__block--divider {
    position: relative;
    display: flex;
    padding: 0;
    pointer-events: none;
  }
  .footer__block--divider .divider-holder {
    display: flex;
    justify-content: center;
    flex: 0 1 100%;
    margin: 0;
  }
  .footer__block--divider .divider {
    height: 100%;
    border-width: 0 0 0 1px;
    border-style: solid;
  }
}
@media only screen and (min-width: 750px) and (max-width: 989px) {
  .footer__block--divider {
    position: absolute;
    top: 0;
    left: 50%;
    bottom: 0;
  }
}

@media only screen and (min-width: 750px) {
  body.grid-compact .footer__block--divider--inline {
    margin-bottom: calc(var(--padding-bottom) * -1 + var(--gutter));
  }
  body.grid-compact .footer__blocks:only-child .footer__block--divider--inline {
    margin-top: calc(var(--padding-top) * -1);
  }
}

.footer__block .social-link {
  color: var(--link);
}

.footer__block .social-link:hover {
  color: var(--link-hover);
}

.footer__block__title {
  font-weight: var(--FONT-WEIGHT-HEADING);
}
@media only screen and (min-width: 750px) {
  .footer__block__title {
    margin-bottom: 1em;
  }
}

.footer__block__image {
  max-width: 100%;
  margin-bottom: var(--inner);
}

.footer__newsletter__wrapper {
  max-width: 440px;
}

.footer__quicklinks {
  font-size: var(--font-body-medium);
}

.footer__quicklinks li {
  margin: 0 0 1.25em;
}
.footer__quicklinks li:last-child {
  margin-bottom: 2px;
}
.footer__quicklinks li a {
  position: relative;
}
.footer__quicklinks li a::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 1px;
  background-color: var(--link);
  transition: width 0.3s cubic-bezier(0.39, 0.575, 0.565, 1);
}
@media (hover: hover) {
  .footer__quicklinks li:hover a::after {
    width: 100%;
  }
}

.footer__social__text,
.footer__newsletter__text {
  margin-bottom: 15px;
}