.collection-block__wrapper {
  display: block;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.collection-block {
  display: flex;
  align-items: center;
  min-height: 50vw;
  background: var(--bg-accent);
}
.collection-block .radio__fieldset--pgi {
  --bg: var(--COLOR-BG-ACCENT);
  --bg-arrow: var(--COLOR-BG-ACCENT);
}
@media only screen and (min-width: 750px) and (max-width: 989px) {
  .collection-block {
    min-height: 400px;
  }
}
@media only screen and (min-width: 990px) and (max-width: 1399px) {
  .collection-block {
    min-height: 500px;
  }
}
@media only screen and (min-width: 1400px) {
  .collection-block {
    min-height: 600px;
  }
}
@media only screen and (max-width: 749px) {
  .collection-block {
    flex-direction: column;
  }
}

.collection-block__content {
  height: 100%;
  width: 50%;
  text-align: left;
  padding: 104px;
}
@media only screen and (max-width: 1399px) {
  .collection-block__content {
    padding: 60px;
  }
}
@media only screen and (max-width: 749px) {
  .collection-block__content {
    width: 100%;
    padding: 40px;
  }
}

.collection-block__button {
  margin-top: 10px;
}

.collection-block__image {
  align-self: stretch;
  position: relative;
  width: 50%;
}
@media only screen and (max-width: 749px) {
  .collection-block__image {
    width: 100%;
    height: 50vw;
    margin: 30px auto 0;
  }
}

.collection-block__image-bg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.collection-block__products {
  width: 50%;
}
@media only screen and (min-width: 750px) {
  .collection-block__products {
    display: flex;
  }
}
.collection-block__products .product-item {
  width: 50%;
}