.map__content {
  padding: 0;
}

map-component {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.map__columns {
  display: flex;
  align-items: stretch;
}
@media only screen and (max-width: 749px) {
  .map__columns {
    flex-direction: column-reverse;
  }
}

.map__column {
  position: relative;
  overflow: hidden;
  float: none;
  min-height: inherit;
}

.map__column--content {
  display: flex;
  flex: 1;
  padding: var(--outer);
}

@media only screen and (min-width: 990px) {
  .map__column--map {
    flex: 1 0 66.66%;
  }
}
@media only screen and (max-width: 989px) {
  .map__column--map {
    flex: 1 0 50%;
  }
}