product-info,
product-sticky {
  display: block;
}

@media only screen and (min-width: 750px) {
  .product__page {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  .product__wrapper--small .product__page {
    grid-template-columns: 37.5% 50%;
    gap: var(--gap);
    justify-content: flex-end;
  }
  .product__wrapper--stretch .product__page {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
.product__page .form__wrapper.is-sticky {
  position: sticky;
  top: var(--sticky-top, 0);
  z-index: 10;
}
@media only screen and (max-width: 749px) {
  .product__page .form__wrapper.is-sticky {
    position: static;
    top: 0;
  }
}

.product__wrapper {
  margin: 0 var(--outer);
}

.product__wrapper .select-popout__toggle::before {
  border-color: var(--text);
}

.product__wrapper:has(.wrapper),
.product__wrapper:has(.wrapper--full-padded) {
  margin: 0;
}

.product__wrapper__inner {
  max-width: 1400px;
  margin: 0 auto;
}

.product__wrapper--stretch .product__wrapper__inner {
  max-width: none;
}

@media only screen and (min-width: 750px) {
  .product__wrapper--stretch .product__thumbs {
    display: none;
  }
}

.product__images {
  --gap: 15px;
  display: block;
}

@media only screen and (min-width: 750px) {
  .product__content {
    padding-left: var(--outer);
  }
}

body:has([data-header-transparent]):has(.main-content > .shopify-section.section-overlay-header:first-of-type) .product__content {
  padding-top: var(--header-height, 0);
}

body:has([data-header-transparent]):has(.main-content > .shopify-section.section-overlay-header:first-of-type):has(.index-product) .product__content {
  padding-top: 0;
}

@media only screen and (min-width: 990px) {
  body:has([data-header-transparent]):has(.main-content > .shopify-section.section-overlay-header:first-of-type) .shopify-section.section-overlay-header:first-of-type .product__images {
    margin-top: calc(var(--PT) * -1);
  }
}
@media only screen and (min-width: 750px) and (max-width: 989px) {
  body:has([data-header-transparent]):has(.main-content > .shopify-section.section-overlay-header:first-of-type).shopify-section.section-overlay-header:first-of-type .product__images {
    margin-top: calc(var(--PT) * -0.8);
  }
}
@media only screen and (max-width: 749px) {
  body:has([data-header-transparent]):has(.main-content > .shopify-section.section-overlay-header:first-of-type) .product__images {
    margin-top: calc(var(--PT) * -0.6);
  }
  body:has([data-header-transparent]):has(.main-content > .shopify-section.section-overlay-header:first-of-type):has(.index-product) .product__images {
    margin-top: 0;
  }
}
@media only screen and (min-width: 750px) {
  .product__wrapper--stretch .product__images {
    margin-left: var(--outer-offset);
  }
}

@media only screen and (min-width: 990px) {
  .product__wrapper--grid-1 .product__slides,
  .product__wrapper--grid-2 .product__slides {
    columns: 2;
    column-gap: var(--gap);
  }
}

@media only screen and (min-width: 750px) {
  .product__wrapper--grid-1 .product__slide,
  .product__wrapper--grid-2 .product__slide,
  .product__wrapper--stacked .product__slide {
    padding-bottom: var(--gap);
    break-inside: avoid;
    position: relative;
  }
  .product__wrapper--grid-1 .product__slide:last-child,
  .product__wrapper--grid-2 .product__slide:last-child,
  .product__wrapper--stacked .product__slide:last-child {
    padding-bottom: 0;
  }
}

@media only screen and (min-width: 750px) {
  .product__wrapper--grid-1 .product__thumbs,
  .product__wrapper--grid-2 .product__thumbs,
  .product__wrapper--stacked .product__thumbs {
    display: none;
  }
}

.product__wrapper--grid-1 .product__slide:first-child,
.product__wrapper--grid-2 .product__slide:only-child {
  column-span: all;
}

.product__slides {
  display: block;
  position: relative;
  font-size: 0;
  flex: 1 1 100%;
  transition: height 0.3s ease;
}
@media only screen and (max-width: 749px) {
  .product__slides {
    margin-bottom: 10px;
  }
}
@media only screen and (min-width: 750px) {
  [data-fader-desktop] .product__slides {
    height: var(--height, auto);
  }
  [data-fader-desktop] .product__slides:active {
    cursor: grabbing;
  }
}
@media only screen and (max-width: 749px) {
  [data-fader-mobile] .product__slides {
    height: var(--height, auto);
  }
}
.product__slides .slider__arrows {
  left: 0;
  right: 0;
}
.product__slides .slider__button--prev {
  left: var(--inner);
}
.product__slides .slider__button--next {
  right: var(--inner);
}

@media only screen and (min-width: 750px) {
  .product__images--thumbs .product__slides {
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    align-items: start;
    overflow: hidden;
  }
  .product__images--thumbs .product__slide {
    grid-row-start: 1;
    grid-column-start: 1;
    transition: opacity 0.3s ease, visibility 0s;
  }
  .product__images--thumbs .media--hidden {
    position: absolute;
    top: 0;
    left: 100%;
    width: 100%;
    opacity: 0;
    visibility: hidden;
    transition-delay: 0s, 0.3s;
  }
  .product__images--thumbs .media--hidden figure {
    content-visibility: hidden;
  }
  .product__images--thumbs .media--hidden figure img {
    display: none;
  }
  .product__images--thumbs .media--hiding {
    position: relative;
    left: 0;
    opacity: 0;
    visibility: hidden;
    transition-delay: 0s, 0.3s;
  }
  .product__images--thumbs .media--hiding figure {
    content-visibility: visible;
  }
  .product__images--thumbs .media--hiding figure img {
    display: block;
  }
}

@media only screen and (max-width: 749px) {
  .product__images--mobile-thumbs .product__slides {
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    align-items: start;
    overflow: hidden;
  }
  .product__images--mobile-thumbs .product__slide {
    grid-row-start: 1;
    grid-column-start: 1;
    transition: opacity 0.3s ease, visibility 0s;
  }
  .product__images--mobile-thumbs .media--hidden {
    position: absolute;
    top: 0;
    left: 100%;
    width: 100%;
    opacity: 0;
    visibility: hidden;
    transition-delay: 0s, 0.3s;
  }
  .product__images--mobile-thumbs .media--hidden figure {
    content-visibility: hidden;
  }
  .product__images--mobile-thumbs .media--hidden figure img {
    display: none;
  }
  .product__images--mobile-thumbs .media--hiding {
    position: relative;
    left: 0;
    opacity: 0;
    visibility: hidden;
    transition-delay: 0s, 0.3s;
  }
  .product__images--mobile-thumbs .media--hiding figure {
    content-visibility: visible;
  }
  .product__images--mobile-thumbs .media--hiding figure img {
    display: block;
  }
}

.product__slide {
  flex: 0 0 100%;
  scroll-snap-align: start;
  cursor: grab;
}
.product__slide:only-child {
  cursor: default;
}

.product__thumbs {
  display: block;
  flex: 1 1 100%;
  margin: 10px 0;
}
@media only screen and (max-width: 749px) {
  .product__thumbs {
    min-height: 85px;
  }
}

.product__thumbs__holder {
  position: relative;
  list-style: none;
  display: flex;
  flex-flow: row nowrap;
  text-align: left;
  overflow-x: auto;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none;
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
}
.product__thumbs__holder::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}
@media only screen and (max-width: 749px) {
  .product__thumbs__holder {
    margin-left: var(--outer-offset);
    margin-right: var(--outer-offset);
    padding-left: var(--outer);
    scroll-padding: var(--outer);
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
  }
  .product__thumbs__holder::after {
    content: "";
    display: block;
    position: relative;
    min-height: 1px;
    padding-right: var(--outer);
  }
}

@media only screen and (max-width: 749px) {
  .product__thumbs__holder .flickity-viewport {
    overflow: visible;
  }
}

@media only screen and (min-width: 750px) {
  .product__wrapper--thumbnails-left .product__images {
    display: flex;
  }
  .product__wrapper--thumbnails-left .product__thumbs__holder {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    padding-left: 10px;
    width: 100%;
    flex-flow: column;
    overflow-y: auto;
    overflow-x: hidden;
  }
  .product__wrapper--thumbnails-left .product__thumbs {
    position: sticky;
    top: var(--header-sticky-height, 0);
    overflow: hidden;
    order: -1;
    margin: 0 20px 0 0;
    flex: 0 0 85px;
    height: 100%;
    width: 85px;
  }
  .product__wrapper--thumbnails-left .product__thumb {
    margin: 0 0 20px;
    padding: 0;
    font-size: 0;
  }
  .product__wrapper--thumbnails-left .product__thumb:last-child {
    margin-bottom: 0;
  }
  .product__wrapper--thumbnails-left .product__thumb::after {
    position: absolute;
    top: 50%;
    left: -10px;
    width: 2px;
    height: 30px;
    max-height: 90%;
    margin: 0;
    background: var(--border-dark);
    opacity: 0;
    pointer-events: none;
    transform: translateY(-50%);
    transition: opacity 0.2s;
  }
  .product__wrapper--thumbnails-left .product__slides {
    flex: 1 1 auto;
  }
}
@media only screen and (max-width: 749px) {
  .product__wrapper--thumbnails-left .product__thumbs__holder {
    position: relative;
    white-space: nowrap;
  }
  .product__wrapper--thumbnails-left .product__thumbs {
    position: static;
    float: none;
  }
}

.product__thumb {
  position: relative;
  display: inline-block;
  margin: 0 10px 0 0;
  padding: 0 0 10px;
  cursor: pointer;
}
.product__thumb:only-child .product__thumb__link {
  cursor: default;
}
.product__thumb::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 100%;
  height: 2px;
  background-color: var(--border-dark);
  opacity: 0;
  transition: opacity 0.2s;
}
@media only screen and (max-width: 749px) {
  .product__thumb {
    padding-bottom: 10px;
    margin: 0 10px 0 0;
    scroll-snap-align: start;
  }
  .product__thumb:last-child {
    margin-right: 0;
  }
}

.product__thumb.is-active::after {
  opacity: 1;
}

.product__thumb__link {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  width: 75px;
  height: 75px;
  font-size: 0;
  line-height: 0;
  text-align: center;
  background: var(--bg);
}

.product__thumb__link__image {
  display: inline-block;
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.product__thumbs__holder .icon {
  position: absolute;
  top: 2px;
  right: 2px;
  margin: 0;
  height: 20px;
  width: 20px;
  color: transparent;
  fill: var(--bg);
  vertical-align: baseline;
}
.product__thumbs__holder .icon path {
  fill: inherit;
  stroke: inherit;
}
.product__thumbs__holder .icon path.icon-media-model-outline, .product__thumbs__holder .icon path.icon-media-video-outline {
  stroke: var(--border-hairline);
}
.product__thumbs__holder .icon path.icon-media-model-element, .product__thumbs__holder .icon path.icon-media-video-element {
  fill: var(--text-dark);
}

.product__breadcrumbs {
  --link: var(--text);
  --link-hover: var(--text-light);
  margin: 0 0 0.5em;
}

@media only screen and (min-width: 990px) {
  .form__width {
    max-width: 550px;
    margin: 0 auto;
  }
}

.product__block:empty {
  display: none;
}

.product__complementary {
  margin-bottom: 0;
}

.complementary-products {
  display: grid;
  gap: 16px;
  margin-bottom: var(--block-padding-bottom, 16px);
}
.complementary-products:empty {
  margin-bottom: 0;
}

.complementary-products__title {
  margin-top: 0;
}

.product__title__wrapper {
  position: relative;
  padding-right: 70px;
  padding-top: 0;
}

.product__title {
  margin-top: 0.5em;
  margin-bottom: 0;
}
.product__title a {
  --link: var(--text);
}
@media only screen and (min-width: 750px) {
  .product__title {
    margin-top: 0;
  }
}

.product__subheading p:only-child {
  margin: 0;
}

script,
#recently-viewed-product-template,
[id*=recently-viewed-product-template] {
  display: none !important;
}

.recent__container {
  background: var(--bg);
}

.recent__content a {
  opacity: 1;
  width: auto;
  height: auto;
  display: block;
}

.product__form__errors {
  opacity: 0;
  max-height: 0;
  visibility: hidden;
  overflow: hidden;
  transition: opacity 0.5s ease-in-out, transform 0.3s ease-in-out 0.2s, max-height 0.5s cubic-bezier(0, 0.75, 0.25, 1), visibility 0.5s;
  text-align: center;
  transform: translate3d(0, -20px, 0);
}
.product__form__errors.is-visible {
  max-height: 500px;
  opacity: 1;
  visibility: visible;
  transform: translate3d(0, 0, 0);
  transition: opacity 0.5s ease, transform 0.5s ease, max-height 0.5s cubic-bezier(0, 0, 0.75, 0), visibility 0.5s;
}
@media only screen and (max-width: 479px) {
  .product__form__errors {
    max-width: 390px;
  }
}
.product__form__errors .errors {
  margin: 10px 0;
  text-align: left;
  padding: 10px 30px;
  line-height: var(--line-height-normal);
}

.product__add__success {
  display: flex;
  align-items: stretch;
  background: var(--bg);
  border-left: 1px solid var(--border);
  border-bottom: 1px solid var(--border);
}
@media only screen and (max-width: 749px) {
  .product__add__success {
    border-left: none;
  }
}

.product__add__success__image {
  width: 50%;
}
@media only screen and (max-width: 749px) {
  .product__add__success__image {
    display: none;
  }
}

.product__add__success__image-bg {
  height: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.product__add__success__content {
  width: 50%;
  padding: 50px;
}
@media only screen and (max-width: 749px) {
  .product__add__success__content {
    width: 100%;
    padding: 15px 20px;
  }
}

.product__add__success--hide {
  display: none;
}

.is-focused model-viewer:focus::after,
.is-focused video:focus::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  box-shadow: inset 0 0 2px 2px var(--border);
  box-sizing: border-box;
  pointer-events: none;
}

product-modal {
  display: flex;
}

.product-modal__outer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  max-width: 600px;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  padding: var(--outer);
  pointer-events: none;
}

dialog[open] .product-modal__outer {
  animation: heroFadeIn 0.5s ease forwards;
}
dialog[closing] .product-modal__outer {
  animation: heroFadeOut 0.5s ease forwards;
}

.product-modal__content {
  overflow-x: hidden;
  overflow-y: auto;
  position: relative;
  background: var(--bg);
  padding: calc(var(--inner) * 1.5) var(--inner);
  pointer-events: auto;
  max-height: 100%;
}
.product-modal__content .product-tabs {
  margin-top: 5px;
}
.product-modal__content .product-tabs ul.tabs > li {
  padding: 0;
}
.product-modal__content .tab-content {
  padding: 0;
}
.product-modal__content .product-tabs__head {
  padding: 16px 13px;
  margin: 0 -13px -13px;
}

.product-modal__close {
  --icon-size: 24px;
  position: absolute;
  top: 50%;
  right: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  color: var(--link);
  background: transparent;
  border-radius: var(--RADIUS);
  font-size: 0;
  text-decoration: none;
  transform: translate3d(0, -50%, 0);
  transition: color 0.3s ease;
}
.product-modal__close .icon {
  display: block;
  fill: currentcolor;
  pointer-events: none;
  will-change: transform;
  transition: transform 0.4s cubic-bezier(0.4, 0, 0.22, 1);
}
@media (hover: hover) {
  .product-modal__close:hover {
    color: var(--link-hover);
  }
  .product-modal__close:hover .icon {
    transform: scale(1.25);
  }
}
.product-modal__close {
  top: 20px;
  right: 10px;
}

.block__icon__container {
  display: flex;
  align-items: center;
}

.block__icon__container--full {
  flex: 0 0 100%;
  max-width: 100%;
}

.block__icon__container--half {
  flex: 0 0 50%;
  max-width: 50%;
}

.block__icon__container--third {
  flex: 0 0 33%;
  max-width: 33%;
}
@media only screen and (max-width: 479px) {
  .block__icon__container--third {
    flex: 0 0 50%;
    max-width: 50%;
  }
}

.block__icon__container--quarter {
  flex: 0 0 25%;
  max-width: 25%;
}
@media only screen and (max-width: 479px) {
  .block__icon__container--quarter {
    flex: 0 0 50%;
    max-width: 50%;
  }
}

.block__icon__row {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
}

.block__icon {
  align-self: flex-start;
  flex: 0 0 var(--icon-size, 20px);
  margin: 0 10px 0 0;
}

.block__icon__text {
  flex: 0 1 100%;
  overflow-wrap: anywhere;
}
.block__icon__text p {
  margin: 0;
}

/* No thumbs on mobile */
@media only screen and (max-width: 749px) {
  .product__images--mobile-slider .product__thumbs {
    display: none;
  }
  .product__images--mobile-slider .product__slides {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    gap: 0;
    margin-left: var(--gutter-offset);
    margin-right: var(--gutter-offset);
    padding-left: var(--gap);
    overflow-x: scroll;
    overflow-y: hidden;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    scroll-padding: var(--gap);
    scrollbar-width: none;
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
  }
  .product__images--mobile-slider .product__slides::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
  }
  .product__images--mobile-slider .product__slides {
    align-items: flex-start;
  }
  .product__images--mobile-slider .product__slides::after {
    content: "";
    display: block;
    position: relative;
    padding-right: var(--gap);
  }
  .product__images--mobile-slider .product__slide {
    flex: 0 0 auto;
    width: calc(100% - 50px);
    margin: 0 var(--gap) 0 0;
    scroll-snap-align: start;
  }
  .product__images--mobile-slider .product__slide:only-child {
    width: calc(100% - var(--gap));
  }
  .product__images--mobile-slider .product__slide:last-child {
    margin-right: 0;
  }
  .product__images--mobile-slider .media--hidden,
  .product__images--mobile-slider .media--hiding {
    position: unset;
    left: unset;
    opacity: unset;
    visibility: unset;
  }
  .product__images--mobile-slider .media--hidden figure,
  .product__images--mobile-slider .media--hiding figure {
    content-visibility: unset;
  }
  .product__images--mobile-slider .media--hidden figure img,
  .product__images--mobile-slider .media--hiding figure img {
    display: block;
  }
}
.product__text--inline {
  display: grid;
  grid-template-columns: minmax(0, 7.5rem) minmax(0, 100%);
  gap: 10px;
}
.product__text--inline .product__heading {
  margin: 0;
}

.product__badges {
  display: flex;
  gap: 10px;
}

.product__sku {
  font-size: var(--font-body-small);
  text-transform: uppercase;
}

.product__popup__content {
  padding: var(--inner);
}