.section-sidebar {
  background: var(--bg);
}

.section-sidebar__body {
  display: flex;
  margin: 0 calc(var(--gutter) / 2 * -1);
}
@media only screen and (max-width: 749px) {
  .section-sidebar__body {
    display: block;
    margin: 0;
  }
}

.section-sidebar__aside {
  flex: 0 0 33.33%;
  padding: 0 calc(var(--gutter) / 2);
}
@media only screen and (max-width: 749px) {
  .section-sidebar__aside {
    display: none;
    padding: 0;
  }
}

.section-sidebar__widget {
  position: sticky;
  top: 0;
  padding-top: calc(1.5rem - 6px);
}
.has-header-sticky .section-sidebar__widget {
  top: var(--header-height);
}

.section-sidebar__content {
  flex: 0 1 100%;
  padding: 0 calc(var(--gutter) / 2);
  overflow-wrap: anywhere;
}
@media only screen and (max-width: 749px) {
  .section-sidebar__content {
    padding: 0;
  }
}

.section-sidebar__title {
  padding: 1.5rem 0;
  margin: 0;
  line-height: 1.2;
}

.accordion + .section-sidebar__title {
  margin-top: var(--inner);
}